<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Library.kg{% endblock %}</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        <nav>
            <a href="/">🏠 Главная</a>
            <a href="{% url 'basket:order_list' %}" class="btn btn-orders">🛒 Мои заказы</a>
        </nav>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        &copy; 2025 Library.kg — Все права защищены
    </footer>
</body>
</html>
