{% extends 'base.html' %}

{% block content %}
<h1 style="text-align: center;">Список заказов</h1>

<table border="1" style="margin: 0 auto; border-collapse: collapse; width: 70%;">
    <tr>
        <th>Имя покупателя</th>
        <th>Email</th>
        <th>Телефон</th>
        <th>Книга</th>
        <th>Адрес</th>
    </tr>
    {% for c in customers %}
    <tr>
        <td>{{ c.name }}</td>
        <td>{{ c.email }}</td>
        <td>{{ c.phone }}</td>
        <td>{{ c.book.title }}</td>
        <td>{{ c.address }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
